<div class="container">
  <div class="form">
    <div class="form-area">
      <h2 class="title">記事の編集</h2>
      <%= render partial: 'layouts/form', locals: { article: @article } %>
    </div>
  </div>
</div>

<% breadcrumb :edit_article, @article %>