
<%= link_to "記事を投稿する", new_article_path %>

<%# 記事一覧 %>
<h3>新着記事</h3>
<div class="article-contents">
  <% @articles.each do |article| %>
    <%= render partial: "layouts/article", locals: { article: article } %>
  <% end %>
</div>