<div class="title-bg">
  <div class="title-contents">
    <h1 class="service-title">niceCOSME</h1>
    <h2 class="service-text">
    niceCOSMEは美容の情報交換ができるアプリです
    </h2>
  </div>
</div>

<div class="article-index">
  <%# 記事一覧 %>
  <h2 class="title">新着記事</h2>
  <div class="article-contents">
    <% @articles.each do |article| %>
      <%= render partial: "layouts/article", locals: { article: article } %>
    <% end %>
  </div>
  <%= paginate @articles %>
</div>