<div class="container">
  <div class="article-contents">
    <% @articles.each do |article| %>
      <%= render partial: "layouts/article", locals: { article: article } %>
    <% end %>
  </div>
</div>