<div class="container">
  <h3>Q＆A</h3>
  <p>質問やお悩み相談ができるスペースです。</p>
  <%= link_to "質問・相談する", new_talk_path, class: "q-btn" %>

  <h4>スレッド一覧</h4>
  <div class="talk-list">
    <% @talks.each do |talk| %>
      <%= link_to talk.title, talk_path(talk.id) %>
    <% end %>
  </div>
</div>