<div class="container">
  <h2 class="title">フォロワ一覧</h2>
  <div class="follow">
    <div class="follow-list">
      <% @users.each do |user| %>
        <%= link_to user_path(user.id) do %>
          <div class="post-name">
            <% if user.image.present? %>
              <%= image_tag user.image, class: "post-user-icon" %>
            <% else %>
              <%= image_tag "noimage-user.png", class: "post-user-icon" %>
            <% end %>
            <%= user.nickname %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<% breadcrumb :follower, @user %>