<div class="container">
  <h2 class="title">フォロー一覧</h2>
  <div class="follow">
    <% @users.each do |user| %>
      <div class="follow-list">
        <%= link_to user.nickname, user_path(user.id) %>
      </div>
    <% end %>
  </div>
</div>

<% breadcrumb :following, @user %>