// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title-contents {
  background-image: image-url('top-image.jpeg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding: 10vh;
  color: black;
  text-shadow: 0 0 5px white;
  margin-top: 115px;
}

.service-title {
  font-size: 8vh;
}

.service-text {
  font-size: 3vh;
}

/* スマホ表示 */
@media screen and (max-width:600px) {
  .title-contents {
    padding: 3vh;
    margin-top: 50px;
  }

  .service-title {
    font-size: 5vh;
  }

  .service-text {
    font-size: 2vh;
  }
}