/* リセットCSS */
body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}

/* ページ全体 */

* {
  box-sizing: border-box; 
 }
 
a {
  color: black;
  text-decoration: none;
}

/* ヘッダー */

.top-header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: 200px;
}

.nav_links {
  display: flex;
  list-style: none;
}

.hidden {
  display: none;
}

.category-lists {
  list-style: none;
  background-color: white;
  position: absolute;
  left: 50px;
  border: 1px solid black;
}

/* フッター */

.footer {
  background-color: lightgray;
  padding: 10px 0;
}

.copyright {
  text-align: center;
  font-size: 10px;
}

/* 記事一覧 */

.article-img {
  height: 100px;
  width: 100px;
}