/* リセットCSS */
body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}

/* ページ全体 */

* {
  box-sizing: border-box; 
 }
 
a {
  color: black;
  text-decoration: none;
}

/* ヘッダー */

.top-header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.logo {
  width: 200px;
}

.search-form-field {
  border: 1px solid lightgray;
  width: 300px;
  height: 30px;
  border-radius: 5px;
}

.search-btn {
  color: white;
  background-color: #f17dae;
  border: 1px solid #f17dae;
  height: 30px;
  width: 30px;
  border-radius: 5px;
}

.nav_links {
  display: flex;
  list-style: none;
}

#lists {
  margin-right: 10px; 
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

#lists:hover {
  color: white;
  border: 1px solid #f17dae;
}

.hidden {
  display: none;
}

.category-lists {
  list-style: none;
  background-color: white;
  position: absolute;
  top: 110px;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
}

.category-lists a {
  margin: 10px;
}

.category-lists a:hover {
  background-color: pink;
}

.q-link a {
  padding: 10px;
  display: block;
  text-align: center;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.q-link a:hover {
  color: white;
  background-color: pink;
  border: 1px solid #f17dae;
}

.bottom-header {
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.post-btn a {
  color: white;
  background-color: #f17dae;
  display: block;
  width: 130px;
  line-height: 30px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #f17dae;
}

.post-btn a:hover {
  color: white;
  background-color: pink;
}
/* フッター */

.footer {
  background-color: lightgray;
  padding: 10px 0;
}

.copyright {
  text-align: center;
  font-size: 10px;
}

/* 全ページ共通 */
.container {
  margin: 20px 50px;
}

/* トップページ */

.article-img {
  height: 100px;
  width: 100px;
}

/* 記事詳細ページ */
.article-show-img {
  height: 300px;
  width: 300px;
  object-fit: contain;
}

/* フォーム */
.form-title {
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.field {
  margin-top: 10px;
}

.form-text {
  height: 30px;
  width: 400px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.form-long-text {
  height: 100px;
  width: 400px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.pulldown {
  height: 30px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.preview-img {
  height: 100px;
  width: 100px;
  object-fit: contain;
}

.images {
  height: 300px;
  width: 300px;
  object-fit: contain;
}

.send-btn {
  color: white;
  background-color: #f17dae;
  border: 1px solid #f17dae;
  height: 30px;
  width: 70px;
  border-radius: 5px;
  margin-top: 10px;
}

/* ユーザー詳細ページ */
.user-icon {
  height: 200px;
  width: 200px;
  object-fit: contain;
}

/* Q＆Aトップページ */
.q-btn {
  color: white;
  background-color: #f17dae;
  display: block;
  width: 130px;
  line-height: 30px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #f17dae;
}

.q-btn:hover {
  color: white;
  background-color: pink;
}