<div class="container">
  <% if @article.present? %>
    <h2 class="title"><%= @article.category.name %></h2>
    <div class="article-contents">
      <% @articles.each do |article| %>
        <%= render partial: "layouts/article", locals: { article: article } %>
      <% end %>
    </div>
  <% else %>
    <p class="no-article">記事がありません</p>
  <% end %>

  <div class="fixed-btn">
    <%= link_to new_article_path do %>
      <i class="fas fa-pencil-alt"></i>
    <% end %>
  </div>
</div>

<% breadcrumb :category, @article %>