<div class="article-list">
  <%= link_to article_path(article.id) do %>
    <div class="article-image">
      <%= image_tag article.image, class: "article-img" %>
    </div>

    <div class="article-title">
      <%= article.title %>
    </div>
    <div class="article-name">
      <%= "＠#{article.user.nickname}" %>
    </div>
  <% end %>
</div>